.ui-caption{
display: block;
width: 380px;
height: 40px;
padding: 10px;
position: absolute;
left: 0;
top: 0px;
color: #FFFFFF;
font: 13px/20px Arial, sans-serif;
background: #000000;
background: rgba(0,0,0,.5);
}
captionImage{
display:block;
overflow:hidden;
position:relative;
}
